.footer {
  background: $black-color;
  position: relative;
  padding-top: 10rem;

  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 10.9rem;
  }

  &-content {
    width: 100%;
    max-width: 51.1rem;
    color: $white-color;

    display: flex;
    flex-direction: column;
    gap: 7rem;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  &-heading {
    font-size: 3rem;
    line-height: lineHeight(34, 30);
    position: relative;
    padding-left: 3rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      width: 1rem;
      height: 1rem;
      border-radius: 100rem;

      background: $white-color;
    }
  }

  &-desc {
    font-size: 6rem;
    line-height: lineHeight(72, 60);
    opacity: 0.6;
  }

  &-title {
    font-size: 3rem;
    line-height: 1;
  }

  &-bottom {
    padding: 3rem 0 3.6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $white-color;

    &-desc {
      font-size: 2.4rem;
      line-height: lineHeight(32, 24);
      opacity: 0.4;
    }
  }

  @include maxWidth(1023px) {
    padding-top: 0;

    &-main {
      flex-direction: column;
      gap: 11rem;
      align-items: stretch;

      padding: 19.1rem 0 6.2rem;

      border-bottom: 1px solid $gray-color;

      img {
        height: 100%;
        width: 100%;
      }
    }

    &-img {
      position: absolute;
      top: 5.6rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @include maxWidth(767px) {
    &-desc {
      font-size: 36px;
      line-height: lineHeight(42, 36);
    }
  }

  &-bottom {
    &-desc {
      font-size: 16px;
      line-height: lineHeight(32, 16);
    }
  }
}

.go-to-top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: current 1.5s infinite forwards alternate;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  text-decoration: none;

  &-desc {
    font-size: 2.4rem;
    line-height: lineHeight(32, 24);
    color: $white-color;
    opacity: 0.4;
  }

  @include maxWidth(1023px) {
    display: none;
  }
}
